<strong>Olá, {{ deliveryman }}</strong>
<p>Houve um cancelamento de entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{product}} <br />
  <strong>Dados da entrega: </strong>  <br />
  <strong> - Nome: </strong> {{recipient}}  <br />
  <strong> - Endereço: </strong>{{address}}  <br />
  <small>
    O horário está novamente diponível para novas entregas
  </small>
</p>
