<strong>Olá, {{ deliveryman }}</strong>
<p>Novo produto disponível para retirada, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{product}} <br />
  <strong>Dados da entrega: </strong>  <br />
  <strong> - Nome: </strong> {{recipient}}  <br />
  <strong> - Endereço: </strong>{{address}}  <br />
  <small>
    Por gentileza, realizar a retirada do mesmo.
  </small>
</p>
